[Unit]
Description=Run rclone bisync every 10 minutes starting from boot

[Timer]
OnBootSec=0
OnUnitActiveSec=10min
Persistent=true

[Install]
WantedBy=timers.target
